machine-dial-graphics.nb.html
.Rproj.user
machine-dial-graphics.html
machine-dial-graphics_BACKUP_81240.Rmd
machine-dial-graphics_BASE_81240.Rmd
machine-dial-graphics_LOCAL_81240.Rmd
machine-dial-graphics_REMOTE_81240.Rmd
_fonts/*.zip
